*{
    box-sizing: border-box;
}
body {
    font-family: 'Google Sans', arial, sans-serif;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
    margin-top: 100px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  

.header-bg{
    background-image: url("./../assets/images/5397807.jpg");
    top: 0; 
    left: 0; 
    min-width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#inner1 {
    float:left; 
    height: 500px;
    width: 100%;
 }
 
 #inner2{
    float:left; 
    clear: left;
    height: 500px;
    width: 100%;
 }

 #footer{
    float:left; 
    margin-top: 30px;
    clear: left;
    background-color: #f1f1f1;
    height: 100px;
    width: 100%;
 }